.about-app {
	width: 600px;
	height: 500px;
}

.about-app .window-content {
	overflow: auto;
	background: rgba(100, 54, 89, 0.9);
}

.about-app h1, .about-app h2 {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	max-width: 75%;
	margin-top: 10px;
	color: rgb(187, 180, 159);
}

.about-app h3 {
	margin-top: 5px;
}

.about-app .about-copyright {
	font-size: 11px;
	color: rgba(15, 9, 9, 0.651);
}