body {
    background: url("../image/bg.jpg");
    background-size: cover;
    color: black;
}
.dropup {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    min-width: 48px;
    z-index: 1;
    background-color: #9f74a2;
    bottom: 70px;
    border-radius: 5px;
}
.dropup:hover .dropup-content {
    display: block;
}
.navbar {
    position: fixed;
    bottom: 0;
}
.navbar i {
    float: left;
    display: block;
    padding: 14px 16px;
    cursor: pointer;
}
.far.fa-comments {
    color: #3C1D46;
    font-size: 53px;
}
.fas.fa-gamepad {
    color: #3C1D46;
    font-size: 48px;
}
.fas.fa-gamepad:hover, .far.fa-comments:hover {
    color: #9f74a2;
    background-color: #3C1D46;
}
.fas.fa-user-astronaut {
    color: #9f74a2;
    font-size: 48px;
}
#memoryContainer img {
    width: 100px;
    padding: 2px;
}